<footer class="iwgf2 iw2-retina-disabled iw2-no-mobile  iw2-mobile-supported iw2-responsive iwgf2-expandable iw2-js iw2-desktop-mode-active iw2-window-closed" aria-live="off" role="contentinfo">
  {{#unless isExpanded}}
    <div class="iwgf2-bar" style="display: block;">
      <div class="iw2-layout iw2-default-breakpoint">
        <div class="iw2-wrapper iw2-default-margin">
          <div class="iw2-inner-wrapper">
            <div class="iwgf2-label-small">
              <p>This is an official website of the government of Flanders</p>
            </div>
            <div class="iwgf2-drawer-toggle" {{action 'toggleExpanded'}}>
              <a class="iwgf2-drawer-toggle-show iw2-exclude-from-outbound-link-tracking" href="#"><span>{{t 'More info'}}</span></a>
            </div>
            <!-- <div class="iwgf2-languages">
                 <ul class="js-iwgf2-languages-list iw2-menu-items iw2-menu-no-items">
                 <li class="iw2-menu-item iw2-language-active" tabindex="0" lang="nl">
                 <div class="iw2-menu-item-wrapper" title="Nederlands">
                 <span class="iw2-language-label" aria-label="Nederlands">NL</span>
                 </div>
                 </li>
                 <li class="iw2-menu-item iw2-language-inactive" lang="en">
                 <a class="iw2-menu-item-wrapper" href="http://data.visitflanders.org " title="English">
                 <span class="iw2-language-label" aria-label="English">EN</span>
                 </a>
                 </li>
                 </ul>
                 </div> -->
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="iwgf2-drawer" style="display: block;" tabindex="-1">
      <div class="iw2-layout iw2-default-breakpoint">
        <div class="iw2-wrapper iw2-default-margin">
          <div class="iw2-inner-wrapper">
            <div class="iwgf2-drawer-content">
              <div class="iwgf2-drawer-toggle" {{action 'toggleExpanded'}}>
                <a class="iwgf2-drawer-toggle-show iw2-exclude-from-outbound-link-tracking" href="#"><span>{{t 'Hide info'}}</span></a>
              </div>
              <div class="iwgf2-site-info">
                <div class="iwgf2-site-info-header iw2-branded">
                  <div class="iwgf2-branding-logo"></div>
                  <h2>Linked.ToerismeVlaanderen.be is an official website of the government of Flanders</h2>
                  <div class="iwgf2-site-publisher">
                    <span>published by</span>
                    <div itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
                      <a itemprop="url" href="http://www.visitflanders.com" target="_self">
                        <span itemprop="name">VISITFLANDERS</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="iwgf2-site-info-text">
                  <p>VisitFlanders publishes Linked Open Data modeled according to the Touristic Vocabulary.</p>
                </div>
                <div class="iwgf2-site-labels">
                  <ul class="js-iwgf2-site-labels-list iw2-menu-items iw2-menu-no-items"></ul>
                </div>
              </div>
            </div>
            <div class="iwgf2-drawer-content-footer">
              <div class="iwgf2-navigation">
                <ul class="js-iwgf2-navigation-list iw2-menu-items iw2-menu-no-items"></ul>
              </div>
              <!-- <div class="iwgf2-languages">
                   <ul class="js-iwgf2-languages-list iw2-menu-items iw2-menu-no-items">
                   <li class="iw2-menu-item iw2-language-active" tabindex="0" lang="nl">
                   <div class="iw2-menu-item-wrapper" title="Nederlands">
                   <span class="iw2-language-label" aria-label="Nederlands">NL</span>
                   </div>
                   </li>
                   <li class="iw2-menu-item iw2-language-inactive" lang="en">
                   <a class="iw2-menu-item-wrapper" href="http://data.visitflanders.org " title="English">
                   <span class="iw2-language-label" aria-label="English">EN</span>
                   </a>
                   </li>
                   </ul>
                   </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/unless}}
</footer>
{{yield}}