{{!-- Page to list locator-designators --}}
<div class="content">
  <h2 class="h2">{{show-models-link}} &lt; {{t (humanize 'locator-designators')}}</h2>
  {{#data-table
     content=model
     isLoading=isLoadingModel
     filter=filter
     sort=sort
     page=page
     size=size
     as |table|}}
    {{#table.content as |c|}}
      {{#c.header}}
        {{th-sortable field='designator' currentSorting=sort label=(t 'designator')}}
        {{th-sortable field='type' currentSorting=sort label=(t 'type')}}
        <th>{{!-- contains detail view action --}}</th>
        <th>{{!-- contains detail edit action --}}</th>
      {{/c.header}}
      {{#c.body as |row|}}
        <td about={{row.uri}} typeof={{row.rdfaBindings.class}} property={{row.rdfaBindings.designator}}>{{row.designator}}</td>
        {{#with-rdfa-context tagName="td" model=row as |ctx|}}
           {{#ctx.get prop="type" link-to="locator-designator-types.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}
         {{/with-rdfa-context}}
        <td>{{link-to (t 'Open') 'locator-designators.show' row}}</td>
        <td>{{link-to (t 'Edit') 'locator-designators.edit' row}}</td>
      {{/c.body}}
    {{/table.content}}
  {{/data-table}}

  
</div>
