{{!-- Page to show details of locator-designators --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "locator-designator overview") "locator-designators.index"}} &lt; {{t (humanize 'locator-designator details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'locator-designator data')}}
        <dl>
          <dt class="properties__label">{{t "designator"}}</dt>
          <dd class="properties__data">{{ctx.get prop="designator"}}</dd>
          <dt class="properties__label">{{t "type"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="type" link-to="locator-designator-types.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
          
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit locator-designator if it's an editable application. --}}
  <div class="actions">
    {{#link-to "locator-designators" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
    
  </div>
{{/with-rdfa-context}}
