{{!-- Page to show details of lodgings --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "lodging overview") "lodgings.index"}} &lt; {{t (humanize 'lodging details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'lodging data')}}
        <dl>
          <dt class="properties__label">URI</dt>
          <dd class="properties__data">{{#link-to "lodgings.show" model href=model.uri}}{{model.uri}}{{/link-to}}</dd>
          <dt class="properties__label">{{t "name"}}</dt> <dd class="properties__data">
                {{#each model.name as |langString|}}
                  <span property={{model.rdfaBindings.name}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}}
              </dd>
<dt class="properties__label">{{t "alternativeName"}}</dt> <dd class="properties__data">
                {{#each model.alternativeName as |langString|}}
                  <span property={{model.rdfaBindings.alternativeName}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}}
              </dd>
<dt class="properties__label">{{t "numberOfSleepingPlaces"}}</dt> <dd class="properties__data">{{ctx.get prop="numberOfSleepingPlaces"}}</dd>
<dt class="properties__label">{{t "numberOfRentalUnits"}}</dt> <dd class="properties__data">{{ctx.get prop="numberOfRentalUnits"}}</dd>
          <dt class="properties__label">{{t "identifier"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="identifier" useUri=true link-to="identifiers.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
<dt class="properties__label">{{t "welcomeLocation"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="welcomeLocation" useUri=true link-to="points.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
          <dt class="properties__label">{{t "welcomeAddresses"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="welcomeAddresses" useUri=true link-to="addresses.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
<dt class="properties__label">{{t "belongsToTouristicRegions"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="belongsToTouristicRegions" useUri=true link-to="touristic-regions.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
<dt class="properties__label">{{t "contactPoints"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="contactPoints" useUri=true link-to="contact-points.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
<dt class="properties__label">{{t "capacities"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="capacities" useUri=true link-to="quantitative-values.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
<dt class="properties__label">{{t "alternativeExploitations"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="alternativeExploitations" useUri=true link-to="lodgings.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
<dt class="properties__label">{{t "isAlternativeExploitationOf"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="isAlternativeExploitationOf" useUri=true link-to="lodgings.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
<dt class="properties__label">{{t "registrations"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="registrations" useUri=true link-to="registrations.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
<dt class="properties__label">{{t "officialRatings"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="officialRatings" useUri=true link-to="ratings.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
<dt class="properties__label">{{t "qualityLabels"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="qualityLabels" useUri=true link-to="quality-labels.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit lodging if it's an editable application. --}}
  <div class="actions">
    <div class="button-group">
      {{#link-to "lodgings" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
      
    </div>
  </div>
{{/with-rdfa-context}}
