{{!-- Page to show details of addresses --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "address overview") "addresses.index"}} &lt; {{t (humanize 'address details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'address data')}}
        <dl>
          <dt class="properties__label">{{t "adminUnitLevel1"}}</dt> <dd class="properties__data">
                {{#each model.adminUnitLevel1 as |langString|}}
                  <span property={{model.rdfaBindings.adminUnitLevel1}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}}
              </dd>
<dt class="properties__label">{{t "adminUnitLevel2"}}</dt> <dd class="properties__data">
                {{#each model.adminUnitLevel2 as |langString|}}
                  <span property={{model.rdfaBindings.adminUnitLevel2}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}}
              </dd>
<dt class="properties__label">{{t "addressArea"}}</dt> <dd class="properties__data">
                {{#each model.addressArea as |langString|}}
                  <span property={{model.rdfaBindings.addressArea}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}}
              </dd>
<dt class="properties__label">{{t "houseNumberSuffix"}}</dt> <dd class="properties__data">{{ctx.get prop="houseNumberSuffix"}}</dd>
<dt class="properties__label">{{t "municipality"}}</dt> <dd class="properties__data">
                {{#each model.municipality as |langString|}}
                  <span property={{model.rdfaBindings.municipality}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}}
              </dd>
<dt class="properties__label">{{t "houseNumber"}}</dt> <dd class="properties__data">{{ctx.get prop="houseNumber"}}</dd>
<dt class="properties__label">{{t "country"}}</dt> <dd class="properties__data">
                {{#each model.country as |langString|}}
                  <span property={{model.rdfaBindings.country}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}}
              </dd>
<dt class="properties__label">{{t "locatorDesignator"}}</dt> <dd class="properties__data">{{ctx.get prop="locatorDesignator"}}</dd>
<dt class="properties__label">{{t "locatorName"}}</dt> <dd class="properties__data">
                {{#each model.locatorName as |langString|}}
                  <span property={{model.rdfaBindings.locatorName}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}}
              </dd>
<dt class="properties__label">{{t "poBox"}}</dt> <dd class="properties__data">{{ctx.get prop="poBox"}}</dd>
<dt class="properties__label">{{t "postCode"}}</dt> <dd class="properties__data">{{ctx.get prop="postCode"}}</dd>
<dt class="properties__label">{{t "postName"}}</dt> <dd class="properties__data">{{ctx.get prop="postName"}}</dd>
<dt class="properties__label">{{t "thoroughfare"}}</dt> <dd class="properties__data">{{ctx.get prop="thoroughfare"}}</dd>
<dt class="properties__label">{{t "references"}}</dt> <dd class="properties__data">{{ctx.get prop="references"}}</dd>
<dt class="properties__label">{{t "fullAddress"}}</dt> <dd class="properties__data">
                {{#each model.fullAddress as |langString|}}
                  <span property={{model.rdfaBindings.fullAddress}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}}
              </dd>
          
          
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit address if it's an editable application. --}}
  <div class="actions">
    {{#link-to "addresses" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
    
  </div>
{{/with-rdfa-context}}
