{{!-- Page to show details of rental-units --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "rental-unit overview") "rental-units.index"}} &lt; {{t (humanize 'rental-unit details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'rental-unit data')}}
        <dl>
          <dt class="properties__label">{{t "numberOfRooms"}}</dt>
          <dd class="properties__data">{{ctx.get prop="numberOfRooms"}}</dd>
<dt class="properties__label">{{t "numberOfSleepingPlaces"}}</dt>
          <dd class="properties__data">{{ctx.get prop="numberOfSleepingPlaces"}}</dd>
<dt class="properties__label">{{t "name"}}</dt>
          <dd class="properties__data">{{ctx.get prop="name"}}</dd>
          <dt class="properties__label">{{t "location"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="location" link-to="geometries.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
          <dt class="properties__label">{{t "facilities"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="facilities" link-to="facilities.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
          </dd>
<dt class="properties__label">{{t "rooms"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="rooms" link-to="rooms.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
          </dd>
<dt class="properties__label">{{t "capacities"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="capacities" link-to="quantitative-values.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
          </dd>
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit rental-unit if it's an editable application. --}}
  <div class="actions">
    {{#link-to "rental-units" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
    
  </div>
{{/with-rdfa-context}}
