{{!-- Page to show details of generations --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "generation overview") "generations.index"}} &lt; {{t (humanize 'generation details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'generation data')}}
        <dl>
          <dt class="properties__label">URI</dt>
          <dd class="properties__data">{{#link-to "generations.show" model href=model.uri}}{{model.uri}}{{/link-to}}</dd>
          <dt class="properties__label">{{t "timestamp"}}</dt> <dd class="properties__data">{{#ctx.get prop="timestamp" as |ctx val|}}{{val}}{{/ctx.get}}</dd>
          <dt class="properties__label">{{t "registration"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="registration" useUri=true link-to="registrations.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>

        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit generation if it's an editable application. --}}
  <div class="actions">
    <div class="button-group">
      {{#link-to "generations" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}

    </div>
  </div>
{{/with-rdfa-context}}
