{{!-- Page to show details of agents --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "agent overview") "agents.index"}} &lt; {{t (humanize 'agent details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'agent data')}}
        <dl>
          <dt class="properties__label">URI</dt>
          <dd class="properties__data">{{#link-to "agents.show" model href=model.uri}}{{model.uri}}{{/link-to}}</dd>
          
          
          
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit agent if it's an editable application. --}}
  <div class="actions">
    {{#link-to "agents" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
    
  </div>
{{/with-rdfa-context}}
