{{!-- Page to list registration-lodging-types --}}
<div class="content">
  <h2 class="h2">{{show-models-link}} &lt; {{t (humanize 'registration-lodging-types')}}</h2>
  {{#data-table
     content=model
     isLoading=isLoadingModel
     filter=filter
     sort=sort
     page=page
     size=size
     as |table|}}
    {{#table.content as |c|}}
      {{#c.header}}
        {{th-sortable field='label' currentSorting=sort label=(t 'label')}}
        {{th-sortable field='registration' currentSorting=sort label=(t 'registration')}}
{{th-sortable field='registrationPublicationTypes' currentSorting=sort label=(t 'registrationPublicationTypes')}}
        <th>{{!-- contains detail view action --}}</th>
        <th>{{!-- contains detail edit action --}}</th>
      {{/c.header}}
      {{#c.body as |row|}}
        {{#with-rdfa-context tagName="td" model=row as |ctx|}}
                {{#each row.label as |langString|}}
                  <span property={{row.rdfaBindings.label}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}} {{/with-rdfa-context}}
                {{#with-rdfa-context tagName="td" model=row as |ctx|}}
                  {{#ctx.get prop="registration" useUri=true link-to="registrations.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}
                {{/with-rdfa-context}}
{{#with-rdfa-context tagName="td" model=row as |ctx|}}
                  {{#ctx.get prop="registrationPublicationTypes" useUri=true link-to="registration-publication-lodging-types.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}
                {{/with-rdfa-context}}
                {{#with-rdfa-context tagName="td" model=row as |ctx|}}{{#rdfa/link-to link-to='registration-lodging-types.show' value=row property="foaf:page"}}{{t "Open"}}{{/rdfa/link-to}}{{/with-rdfa-context}}
        
      {{/c.body}}
    {{/table.content}}
  {{/data-table}}

  
</div>
