{{!-- Page to show details of concepts --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "concept overview") "concepts.index"}} &lt; {{t (humanize 'concept details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'concept data')}}
        <dl>
          <dt class="properties__label">URI</dt>
          <dd class="properties__data">{{#link-to "concepts.show" model href=model.uri}}{{model.uri}}{{/link-to}}</dd>
          <dt class="properties__label">{{t "label"}}</dt> <dd class="properties__data">
                {{#each model.label as |langString|}}
                  <span property={{model.rdfaBindings.label}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}}
              </dd>
          
          <dt class="properties__label">{{t "conceptSchemes"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="conceptSchemes" useUri=true link-to="conceptschemes.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
<dt class="properties__label">{{t "topConceptOf"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="topConceptOf" useUri=true link-to="conceptschemes.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
<dt class="properties__label">{{t "broaderConcepts"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="broaderConcepts" useUri=true link-to="concepts.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
<dt class="properties__label">{{t "narrowerConcepts"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="narrowerConcepts" useUri=true link-to="concepts.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
<dt class="properties__label">{{t "broadMatches"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="broadMatches" useUri=true link-to="concepts.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
<dt class="properties__label">{{t "narrowerMatches"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="narrowerMatches" useUri=true link-to="concepts.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit concept if it's an editable application. --}}
  <div class="actions">
    <div class="button-group">
      {{#link-to "concepts" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
      
    </div>
  </div>
{{/with-rdfa-context}}
