{{!-- Page to list quantitative-values --}}
<div class="content">
  <h2 class="h2">{{show-models-link}} &lt; {{t (humanize 'quantitative-values')}}</h2>
  {{#data-table
     content=model
     isLoading=isLoadingModel
     filter=filter
     sort=sort
     page=page
     size=size
     as |table|}}
    {{#table.content as |c|}}
      {{#c.header}}
        {{th-sortable field='unit' currentSorting=sort label=(t 'unit')}}
{{th-sortable field='value' currentSorting=sort label=(t 'value')}}
        {{th-sortable field='standardizedUnit' currentSorting=sort label=(t 'standardizedUnit')}}
        <th>{{!-- contains detail view action --}}</th>
        <th>{{!-- contains detail edit action --}}</th>
      {{/c.header}}
      {{#c.body as |row|}}
        <td about={{row.uri}} typeof={{row.rdfaBindings.class}} property={{row.rdfaBindings.unit}}>{{row.unit}}</td>
<td about={{row.uri}} typeof={{row.rdfaBindings.class}} property={{row.rdfaBindings.value}}>{{row.value}}</td>
        {{#with-rdfa-context tagName="td" model=row as |ctx|}}
           {{#ctx.get prop="standardizedUnit" link-to="standardized-units.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}
         {{/with-rdfa-context}}
        <td>{{link-to (t 'Open') 'quantitative-values.show' row}}</td>
        <td>{{link-to (t 'Edit') 'quantitative-values.edit' row}}</td>
      {{/c.body}}
    {{/table.content}}
  {{/data-table}}

  
</div>
