{{!-- Page to list touristic-regions --}}
<div class="content">
  <h2 class="h2">{{show-models-link}} &lt; {{t (humanize 'touristic-regions')}}</h2>
  {{#data-table
     content=model
     isLoading=isLoadingModel
     filter=filter
     sort=sort
     page=page
     size=size
     as |table|}}
    {{#table.content as |c|}}
      {{#c.header}}
        {{th-sortable field='label' currentSorting=sort label=(t 'label')}}
        {{th-sortable field='geometry' currentSorting=sort label=(t 'geometry')}}
        <th>{{!-- contains detail view action --}}</th>
        <th>{{!-- contains detail edit action --}}</th>
      {{/c.header}}
      {{#c.body as |row|}}
        <td about={{row.uri}} typeof={{row.rdfaBindings.class}} property={{row.rdfaBindings.label}}>{{row.label}}</td>
        {{#with-rdfa-context tagName="td" model=row as |ctx|}}
           {{#ctx.get prop="geometry" link-to="geometries.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}
         {{/with-rdfa-context}}
        <td>{{link-to (t 'Open') 'touristic-regions.show' row}}</td>
        <td>{{link-to (t 'Edit') 'touristic-regions.edit' row}}</td>
      {{/c.body}}
    {{/table.content}}
  {{/data-table}}

  
</div>
