{{!-- Page to list touristic-regions --}}
<div class="content">
  <h2 class="h2">{{show-models-link}} &lt; {{t (humanize 'touristic-regions')}}</h2>
  {{#data-table
     content=model
     isLoading=isLoadingModel
     filter=filter
     sort=sort
     page=page
     size=size
     as |table|}}
    {{#table.content as |c|}}
      {{#c.header}}
        {{th-sortable field='label' currentSorting=sort label=(t 'label')}}
        
        <th>{{!-- contains detail view action --}}</th>
        <th>{{!-- contains detail edit action --}}</th>
      {{/c.header}}
      {{#c.body as |row|}}
        {{#with-rdfa-context tagName="td" model=row as |ctx|}}
                {{#each row.label as |langString|}}
                  <span property={{row.rdfaBindings.label}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}} {{/with-rdfa-context}}
                
                {{#with-rdfa-context tagName="td" model=row as |ctx|}}{{#rdfa/link-to link-to='touristic-regions.show' value=row property="foaf:page"}}{{t "Open"}}{{/rdfa/link-to}}{{/with-rdfa-context}}
        
      {{/c.body}}
    {{/table.content}}
  {{/data-table}}

  
</div>
