{{!-- Page to show details of rooms --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "room overview") "rooms.index"}} &lt; {{t (humanize 'room details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'room data')}}
        <dl>
          <dt class="properties__label">URI</dt>
          <dd class="properties__data">{{#link-to "rooms.show" model href=model.uri}}{{model.uri}}{{/link-to}}</dd>
          <dt class="properties__label">{{t "description"}}</dt> <dd class="properties__data">
                {{#each model.description as |langString|}}
                  <span property={{model.rdfaBindings.description}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}}
              </dd>
          <dt class="properties__label">{{t "locatorDesignator"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="locatorDesignator" useUri=true link-to="locator-designators.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
<dt class="properties__label">{{t "rentalUnit"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="rentalUnit" useUri=true link-to="rental-units.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
<dt class="properties__label">{{t "type"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="type" useUri=true link-to="room-types.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
          <dt class="properties__label">{{t "facilities"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="facilities" useUri=true link-to="facilities.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
          </dd>
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit room if it's an editable application. --}}
  <div class="actions">
    {{#link-to "rooms" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
    
  </div>
{{/with-rdfa-context}}
