{{!-- Page to show details of points --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "point overview") "points.index"}} &lt; {{t (humanize 'point details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'point data')}}
        <dl>
          <dt class="properties__label">URI</dt>
          <dd class="properties__data">{{#link-to "points.show" model href=model.uri}}{{model.uri}}{{/link-to}}</dd>
          <dt class="properties__label">{{t "asGml"}}</dt> <dd class="properties__data">{{ctx.get prop="asGml"}}</dd>
<dt class="properties__label">{{t "asWkt"}}</dt> <dd class="properties__data">{{ctx.get prop="asWkt"}}</dd>
<dt class="properties__label">{{t "latitude"}}</dt> <dd class="properties__data">{{ctx.get prop="latitude"}}</dd>
<dt class="properties__label">{{t "longitude"}}</dt> <dd class="properties__data">{{ctx.get prop="longitude"}}</dd>
          <dt class="properties__label">{{t "isWelcomeAddressOf"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="isWelcomeAddressOf" useUri=true link-to="lodgings.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
          
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit point if it's an editable application. --}}
  <div class="actions">
    <div class="button-group">
      {{#link-to "points" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
      
    </div>
  </div>
{{/with-rdfa-context}}
