{{!-- Page to show details of conceptschemes --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "conceptscheme overview") "conceptschemes.index"}} &lt; {{t (humanize 'conceptscheme details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'conceptscheme data')}}
        <dl>
          <dt class="properties__label">URI</dt>
          <dd class="properties__data">{{#link-to "conceptschemes.show" model href=model.uri}}{{model.uri}}{{/link-to}}</dd>
          <dt class="properties__label">{{t "label"}}</dt> <dd class="properties__data">
                {{#each model.label as |langString|}}
                  <span property={{model.rdfaBindings.label}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}}
              </dd>
          
          <dt class="properties__label">{{t "concepts"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="concepts" useUri=true link-to="concepts.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
          </dd>
<dt class="properties__label">{{t "topConcepts"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="topConcepts" useUri=true link-to="concepts.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
          </dd>
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit conceptscheme if it's an editable application. --}}
  <div class="actions">
    <div class="button-group">
      {{#link-to "conceptschemes" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
      
    </div>
  </div>
{{/with-rdfa-context}}
