{{!-- Page to show details of quality-labels --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "quality-label overview") "quality-labels.index"}} &lt; {{t (humanize 'quality-label details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'quality-label data')}}
        <dl>
          <dt class="properties__label">{{t "description"}}</dt>
          <dd class="properties__data">{{ctx.get prop="description"}}</dd>
<dt class="properties__label">{{t "label"}}</dt>
          <dd class="properties__data">{{ctx.get prop="label"}}</dd>
<dt class="properties__label">{{t "issuedDate"}}</dt>
          <dd class="properties__data">{{ctx.get prop="issuedDate"}}</dd>
          <dt class="properties__label">{{t "author"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="author" link-to="registered-organizations.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
          
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit quality-label if it's an editable application. --}}
  <div class="actions">
    {{#link-to "quality-labels" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
    
  </div>
{{/with-rdfa-context}}
