{{!-- Page to list standardized-units --}}
<div class="content">
  <h2 class="h2">{{show-models-link}} &lt; {{t (humanize 'standardized-units')}}</h2>
  {{#data-table
     content=model
     isLoading=isLoadingModel
     filter=filter
     sort=sort
     page=page
     size=size
     as |table|}}
    {{#table.content as |c|}}
      {{#c.header}}
        {{th-sortable field='label' currentSorting=sort label=(t 'label')}}
        
        <th>{{!-- contains detail view action --}}</th>
        <th>{{!-- contains detail edit action --}}</th>
      {{/c.header}}
      {{#c.body as |row|}}
        <td about={{row.uri}} typeof={{row.rdfaBindings.class}} property={{row.rdfaBindings.label}}>{{row.label}}</td>
        
        <td>{{link-to (t 'Open') 'standardized-units.show' row}}</td>
        <td>{{link-to (t 'Edit') 'standardized-units.edit' row}}</td>
      {{/c.body}}
    {{/table.content}}
  {{/data-table}}

  
</div>
