{{!-- Page to show details of standardized-units --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "standardized-unit overview") "standardized-units.index"}} &lt; {{t (humanize 'standardized-unit details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'standardized-unit data')}}
        <dl>
          <dt class="properties__label">{{t "label"}}</dt> <dd class="properties__data">
                {{#each model.label as |langString|}}
                  <span property={{model.rdfaBindings.label}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}}
              </dd>
          
          
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit standardized-unit if it's an editable application. --}}
  <div class="actions">
    {{#link-to "standardized-units" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
    
  </div>
{{/with-rdfa-context}}
