{{!-- Page to show details of locator-designator-types --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "locator-designator-type overview") "locator-designator-types.index"}} &lt; {{t (humanize 'locator-designator-type details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'locator-designator-type data')}}
        <dl>
          <dt class="properties__label">URI</dt>
          <dd class="properties__data">{{#link-to "locator-designator-types.show" model href=model.uri}}{{model.uri}}{{/link-to}}</dd>
          <dt class="properties__label">{{t "label"}}</dt> <dd class="properties__data">
                {{#each model.label as |langString|}}
                  <span property={{model.rdfaBindings.label}} lang="{{langString.language}}" content="{{langString.content}}">
                    <span class="language-string-set__content">"{{langString.content}}"</span><span class="language-string-set__language">@{{langString.language}}</span>
                  </span>
                {{/each}}
              </dd>
          
          
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit locator-designator-type if it's an editable application. --}}
  <div class="actions">
    {{#link-to "locator-designator-types" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
    
  </div>
{{/with-rdfa-context}}
