{{!-- Page to show details of contact-points --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "contact-point overview") "contact-points.index"}} &lt; {{t (humanize 'contact-point details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'contact-point data')}}
        <dl>
          <dt class="properties__label">URI</dt>
          <dd class="properties__data">{{#link-to "contact-points.show" model href=model.uri}}{{model.uri}}{{/link-to}}</dd>
          <dt class="properties__label">{{t "email"}}</dt> <dd class="properties__data">{{ctx.get prop="email"}}</dd>
<dt class="properties__label">{{t "page"}}</dt> <dd class="properties__data">{{ctx.get prop="page"}}</dd>
<dt class="properties__label">{{t "telephone"}}</dt> <dd class="properties__data">{{ctx.get prop="telephone"}}</dd>
          <dt class="properties__label">{{t "lodging"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="lodging" useUri=true link-to="lodgings.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
          
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit contact-point if it's an editable application. --}}
  <div class="actions">
    <div class="button-group">
      {{#link-to "contact-points" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
      
    </div>
  </div>
{{/with-rdfa-context}}
