{{!-- Page to show details of licenses --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "license overview") "licenses.index"}} &lt; {{t (humanize 'license details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'license data')}}
        <dl>
          <dt class="properties__label">URI</dt>
          <dd class="properties__data">{{#link-to "licenses.show" model href=model.uri}}{{model.uri}}{{/link-to}}</dd>
          
          
          
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit license if it's an editable application. --}}
  <div class="actions">
    {{#link-to "licenses" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
    
  </div>
{{/with-rdfa-context}}
