{{!-- Page to list identifiers --}}
<div class="content">
  <h2 class="h2">{{show-models-link}} &lt; {{t (humanize 'identifiers')}}</h2>
  {{#data-table
     content=model
     isLoading=isLoadingModel
     filter=filter
     sort=sort
     page=page
     size=size
     as |table|}}
    {{#table.content as |c|}}
      {{#c.header}}
        {{th-sortable field='notation' currentSorting=sort label=(t 'notation')}}
{{th-sortable field='issuedBy' currentSorting=sort label=(t 'issuedBy')}}
        {{th-sortable field='creator' currentSorting=sort label=(t 'creator')}}
{{th-sortable field='lodging' currentSorting=sort label=(t 'lodging')}}
{{th-sortable field='registration' currentSorting=sort label=(t 'registration')}}
        <th>{{!-- contains detail view action --}}</th>
        <th>{{!-- contains detail edit action --}}</th>
      {{/c.header}}
      {{#c.body as |row|}}
        {{#with-rdfa-context tagName="td" model=row as |ctx|}}{{ctx.get prop="notation"}}{{/with-rdfa-context}}
{{#with-rdfa-context tagName="td" model=row as |ctx|}}{{ctx.get prop="issuedBy"}}{{/with-rdfa-context}}
                {{#with-rdfa-context tagName="td" model=row as |ctx|}}
                  {{#ctx.get prop="creator" useUri=true link-to="registered-organizations.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}
                {{/with-rdfa-context}}
{{#with-rdfa-context tagName="td" model=row as |ctx|}}
                  {{#ctx.get prop="lodging" useUri=true link-to="lodgings.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}
                {{/with-rdfa-context}}
{{#with-rdfa-context tagName="td" model=row as |ctx|}}
                  {{#ctx.get prop="registration" useUri=true link-to="registrations.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}
                {{/with-rdfa-context}}
                {{#with-rdfa-context tagName="td" model=row as |ctx|}}{{#rdfa/link-to link-to='identifiers.show' value=row property="foaf:page"}}{{t "Open"}}{{/rdfa/link-to}}{{/with-rdfa-context}}
        
      {{/c.body}}
    {{/table.content}}
  {{/data-table}}

  
</div>
