{{!-- Page to list invalidations --}}
<div class="content">
  <h2 class="h2">{{show-models-link}} &lt; {{t (humanize 'invalidations')}}</h2>
  {{#data-table
     content=model
     isLoading=isLoadingModel
     filter=filter
     sort=sort
     page=page
     size=size
     as |table|}}
    {{#table.content as |c|}}
      {{#c.header}}
        {{th-sortable field='timestamp' currentSorting=sort label=(t 'timestamp')}}
{{th-sortable field='activity' currentSorting=sort label=(t 'activity')}}
        
        <th>{{!-- contains detail view action --}}</th>
        <th>{{!-- contains detail edit action --}}</th>
      {{/c.header}}
      {{#c.body as |row|}}
        {{#with-rdfa-context tagName="td" model=row as |ctx|}}{{ctx.get prop=timestamp}}{{/with-rdfa-context}}
{{#with-rdfa-context tagName="td" model=row as |ctx|}}{{ctx.get prop=activity}}{{/with-rdfa-context}}
                
                {{#with-rdfa-context tagName="td" model=row as |ctx|}}{{#rdfa/link-to link-to='invalidations.show' value=row property="foaf:page"}}{{t "Open"}}{{/rdfa/link-to}}{{/with-rdfa-context}}
        
      {{/c.body}}
    {{/table.content}}
  {{/data-table}}

  
</div>
