{{!-- Page to show details of invalidations --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "invalidation overview") "invalidations.index"}} &lt; {{t (humanize 'invalidation details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'invalidation data')}}
        <dl>
          <dt class="properties__label">{{t "timestamp"}}</dt> <dd class="properties__data">{{ctx.get prop="timestamp"}}</dd>
<dt class="properties__label">{{t "activity"}}</dt> <dd class="properties__data">{{ctx.get prop="activity"}}</dd>
          
          
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit invalidation if it's an editable application. --}}
  <div class="actions">
    {{#link-to "invalidations" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
    
  </div>
{{/with-rdfa-context}}
