{{!-- Page to show details of registrations --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "registration overview") "registrations.index"}} &lt; {{t (humanize 'registration details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'registration data')}}
        <dl>
          
          <dt class="properties__label">{{t "isSpecialisationInTimeOf"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="isSpecialisationInTimeOf" link-to="registrations.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
<dt class="properties__label">{{t "generation"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="generation" link-to="generations.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
<dt class="properties__label">{{t "invalidation"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="invalidation" link-to="invalidations.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
<dt class="properties__label">{{t "identifier"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="identifier" link-to="identifiers.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
<dt class="properties__label">{{t "registrationStatus"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="registrationStatus" link-to="registration-statuses.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
<dt class="properties__label">{{t "type"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="type" link-to="registration-lodging-types.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
          
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit registration if it's an editable application. --}}
  <div class="actions">
    {{#link-to "registrations" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
    
  </div>
{{/with-rdfa-context}}
