{{!-- Page to show details of registrations --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "registration overview") "registrations.index"}} &lt; {{t (humanize 'registration details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'registration data')}}
        <dl>
          <dt class="properties__label">URI</dt>
          <dd class="properties__data">{{#link-to "registrations.show" model href=model.uri}}{{model.uri}}{{/link-to}}</dd>
          <dt class="properties__label">{{t "issuedDate"}}</dt> <dd class="properties__data">{{#ctx.get prop="issuedDate" as |ctx val|}}{{val}}{{/ctx.get}}</dd>
          <dt class="properties__label">{{t "identifier"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="identifier" useUri=true link-to="identifiers.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
<dt class="properties__label">{{t "registrationStatus"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="registrationStatus" useUri=true link-to="concepts.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
<dt class="properties__label">{{t "type"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="type" useUri=true link-to="concepts.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
<dt class="properties__label">{{t "category"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="category" useUri=true link-to="concepts.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
<dt class="properties__label">{{t "lodging"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="lodging" useUri=true link-to="lodgings.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>
<dt class="properties__label">{{t "responsibleOrganization"}}</dt>
          <dd class="properties__data">{{#ctx.get prop="responsibleOrganization" useUri=true link-to="registered-organizations.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}</dd>

        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit registration if it's an editable application. --}}
  <div class="actions">
    <div class="button-group">
      {{#link-to "registrations" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}

    </div>
  </div>
{{/with-rdfa-context}}
