{{page-title "Datasets"}}

<div class="au-o-layout">
  <div class="au-o-region">

    <div class="au-u-margin-top-large au-u-margin-bottom">
      <AuHeading @level="2" @skin="2">
        Datasets
      </AuHeading>
      <p class="au-u-para-lead">
        Overview of the downloadable datasets
      </p>
    </div>

    <div class="au-u-flex au-u-flex--spaced au-u-flex--wrap">
      {{#each @model as |dataset|}}
        <div class="au-u-max-width-tiny">
          {{#let (object-at 0 dataset.distributions) as |file|}}
            <AuFileCard
              @filename={{or dataset.title dataset.type.label}}
              @fileSize={{concat (uppercase file.extension) ", " file.humanReadableSize}}
              @downloadLink={{file.namedDownloadLink}}
            />
          {{/let}}
        </div>
      {{else}}
        <p class="au-u-para">
          There are currently no datasets available for download.
        </p>
      {{/each}}
    </div>
  </div>
</div>