{{!-- Page to list media-objects --}}
<div class="content">
  <h2 class="h2">{{show-models-link}} &lt; {{t (humanize 'media-objects')}}</h2>
  {{#data-table
     content=model
     isLoading=isLoadingModel
     filter=filter
     sort=sort
     page=page
     size=size
     as |table|}}
    {{#table.content as |c|}}
      {{#c.header}}
        {{th-sortable field='modifiedOn' currentSorting=sort label=(t 'modifiedOn')}}
{{th-sortable field='name' currentSorting=sort label=(t 'name')}}
{{th-sortable field='publicationDate' currentSorting=sort label=(t 'publicationDate')}}
{{th-sortable field='description' currentSorting=sort label=(t 'description')}}
{{th-sortable field='caption' currentSorting=sort label=(t 'caption')}}
{{th-sortable field='contentUrl' currentSorting=sort label=(t 'contentUrl')}}
{{th-sortable field='exifData' currentSorting=sort label=(t 'exifData')}}
{{th-sortable field='thumbnailUrl' currentSorting=sort label=(t 'thumbnailUrl')}}
        {{th-sortable field='exampleOf' currentSorting=sort label=(t 'exampleOf')}}
{{th-sortable field='translationOf' currentSorting=sort label=(t 'translationOf')}}
{{th-sortable field='license' currentSorting=sort label=(t 'license')}}
{{th-sortable field='audience' currentSorting=sort label=(t 'audience')}}
{{th-sortable field='format' currentSorting=sort label=(t 'format')}}
{{th-sortable field='width' currentSorting=sort label=(t 'width')}}
{{th-sortable field='height' currentSorting=sort label=(t 'height')}}
{{th-sortable field='location' currentSorting=sort label=(t 'location')}}
        <th>{{!-- contains detail view action --}}</th>
        <th>{{!-- contains detail edit action --}}</th>
      {{/c.header}}
      {{#c.body as |row|}}
        <td about={{row.uri}} typeof={{row.rdfaBindings.class}} property={{row.rdfaBindings.modifiedOn}}>{{row.modifiedOn}}</td>
<td about={{row.uri}} typeof={{row.rdfaBindings.class}} property={{row.rdfaBindings.name}}>{{row.name}}</td>
<td about={{row.uri}} typeof={{row.rdfaBindings.class}} property={{row.rdfaBindings.publicationDate}}>{{row.publicationDate}}</td>
<td about={{row.uri}} typeof={{row.rdfaBindings.class}} property={{row.rdfaBindings.description}}>{{row.description}}</td>
<td about={{row.uri}} typeof={{row.rdfaBindings.class}} property={{row.rdfaBindings.caption}}>{{row.caption}}</td>
<td about={{row.uri}} typeof={{row.rdfaBindings.class}} property={{row.rdfaBindings.contentUrl}}>{{row.contentUrl}}</td>
<td about={{row.uri}} typeof={{row.rdfaBindings.class}} property={{row.rdfaBindings.exifData}}>{{row.exifData}}</td>
<td about={{row.uri}} typeof={{row.rdfaBindings.class}} property={{row.rdfaBindings.thumbnailUrl}}>{{row.thumbnailUrl}}</td>
        {{#with-rdfa-context tagName="td" model=row as |ctx|}}
           {{#ctx.get prop="exampleOf" link-to="creative-works.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}
         {{/with-rdfa-context}}
{{#with-rdfa-context tagName="td" model=row as |ctx|}}
           {{#ctx.get prop="translationOf" link-to="creative-works.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}
         {{/with-rdfa-context}}
{{#with-rdfa-context tagName="td" model=row as |ctx|}}
           {{#ctx.get prop="license" link-to="licenses.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}
         {{/with-rdfa-context}}
{{#with-rdfa-context tagName="td" model=row as |ctx|}}
           {{#ctx.get prop="audience" link-to="audiences.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}
         {{/with-rdfa-context}}
{{#with-rdfa-context tagName="td" model=row as |ctx|}}
           {{#ctx.get prop="format" link-to="file-formats.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}
         {{/with-rdfa-context}}
{{#with-rdfa-context tagName="td" model=row as |ctx|}}
           {{#ctx.get prop="width" link-to="quantitative-values.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}
         {{/with-rdfa-context}}
{{#with-rdfa-context tagName="td" model=row as |ctx|}}
           {{#ctx.get prop="height" link-to="quantitative-values.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}
         {{/with-rdfa-context}}
{{#with-rdfa-context tagName="td" model=row as |ctx|}}
           {{#ctx.get prop="location" link-to="geometries.show" as |ctx val|}}{{val.stringRep}}{{/ctx.get}}
         {{/with-rdfa-context}}
        <td>{{link-to (t 'Open') 'media-objects.show' row}}</td>
        <td>{{link-to (t 'Edit') 'media-objects.edit' row}}</td>
      {{/c.body}}
    {{/table.content}}
  {{/data-table}}

  
</div>
