{{!-- Page to show details of media-objects --}}
{{#with-rdfa-context class="container" model=model as |ctx|}}
  <div class="page">
    <h2 class="h2">{{link-to (t "media-object overview") "media-objects.index"}} &lt; {{t (humanize 'media-object details')}}</h2>
    <div class="properties">
      <div class="properties__title">
        {{t (humanize 'media-object data')}}
        <dl>
          <dt class="properties__label">URI</dt>
          <dd class="properties__data">{{#link-to "media-objects.show" model href=model.uri}}{{model.uri}}{{/link-to}}</dd>
          <dt class="properties__label">{{t "contentUrl"}}</dt> <dd class="properties__data">{{ctx.get prop="contentUrl"}}</dd>
          
          <dt class="properties__label">{{t "lodgings"}}</dt>
          <dd class="properties__data">
            {{#ctx.each prop="lodgings" useUri=true link-to="lodgings.show" as |ctx val|}}
              {{val.stringRep}}
            {{/ctx.each}}
            <span class="properties__data__limit">{{t "Displaying a limited list"}}</span>
          </dd>
        </dl>
      </div>
    </div>
  </div>

  {{!-- Actions to go back to the list-view or edit media-object if it's an editable application. --}}
  <div class="actions">
    <div class="button-group">
      {{#link-to "media-objects" class="button" title="Return to list" tagName='button'}}{{t "< Return to the list"}}{{/link-to}}
      
    </div>
  </div>
{{/with-rdfa-context}}
